@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  --color-primary: #94b6d8;
  --color-accent: #8ea3c2;
  --color-bg: #bfcace;
  --color-footer-bg: #4f7ab3;
  --color-sidebar-bg: #263874;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  scroll-behavior: smooth;
}
